.navBar{
    list-style: none;
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bolder;
    padding-right: 15%;
}
.navBarLink{
    color: white;
    text-decoration: none;
}
.navBarLink.active{
    color: black;
}